all_meryl_databases_created_flag
.snakemake
contigs_to_display_on_left.txt
contigs_to_display_on_right.txt
to_find_minus_to_remove.meryl.flag
to_find_minus_to_remove.meryl_no_0_low_freq_kmers.meryl.flag
top_1_per_cent_kmer_windows.bed
*.bed
*.meryl
*.fof
*.wig
*.png
*.bed2
*.bed3
*~
*.bed_with_window
*.flag
*.pdf
logs
*.log
*.counts
*.counts.txt
count_kmers_each_meryl_database_flag
count_of_frequencies_all.txt
intermediate*.meryl.unique_kmers
kmers_not_counting_repeats_after_removing_low_occurrence_kmers.txt
kmers_not_counting_repeats_before_removing_low_occurrence_kmers.txt
